<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="prospectEntiy" connectionString="metadata=res://*/ProspectEntitys.csdl|res://*/ProspectEntitys.ssdl|res://*/ProspectEntitys.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4H4BT27;initial catalog=Proget_stage;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Proget_stageEntities" connectionString="metadata=res://*/ProspectEntitys.csdl|res://*/ProspectEntitys.ssdl|res://*/ProspectEntitys.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4H4BT27;initial catalog=Proget_stage;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="prospectEnty" connectionString="metadata=res://*/prospectEnty.csdl|res://*/prospectEnty.ssdl|res://*/prospectEnty.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4H4BT27;initial catalog=Proget_stage;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Proget_Stage_Principame.Properties.Settings.Proget_stageConnectionString"
      connectionString="Data Source=DESKTOP-4H4BT27;Initial Catalog=Proget_stage;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>